.footer {
  box-sizing :border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  p {
  font-size: 0.9rem;
  padding: 30px 15px 0 15px;
  }

  a {
    background-color: transparent;
    color: #0066c0;
    text-decoration: none;
  }

  .footer-content {
    border-top: 2px solid #232f3e;
    box-sizing :border-box;      
    margin: 15px auto;
    padding: 0 15px;
    width: 100%;
    display: flex;

    ul {
      padding: 0 50px 0 0;
    }

    li {
      list-style-type: none;
      text-align: left; 
      padding: 3px;
      line-height: 17px;
    }

    .b {
      font-weight: 700;
    }

  }
  
}