<div class="footer">
<p>*See <a href="">advertising rates</a> for details</p>

  <div class="footer-content">
    <ul>
      <li class="b">Learn More</li>
      <li><a href="#">Tools</a></li>
      <li><a href="#">Native Shopping Ads</a></li>
      <li><a href="#">Advertising Feess</a></li>
      <li><a href="#">Resource Center</a></li>
      <li><a href="#">Amazon Trade-in Program</a></li>
      <li><a href="#">Kindle for Associates</a></li>
      <li><a href="#">AbeBooks.com</a></li>
      <li><a href="#">Reporting</a></li>
    </ul>
    
    <ul>
      <li class="b">Customer Support</li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Associates Blog</a></li>
      <li><a href="#">Performance Tips</a></li>
      <li><a href="#">Excluded Products</a></li>
      <li><a href="#">Glossary</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>

    <ul>
      <li class="b">Legal</li>
      <li><a href="#">Conditions of Use</a></li>
      <li><a href="#">Privacy Notice</a></li>
      <li><a href="#">Operating Agreement</a></li>
    </ul>

    <ul>
      <li class="b">Follow Us</li>
      <li><a href="#">YouTube</a></li>
      <li><a href="#">Facebook</a></li>
    </ul>
  </div>

</div>
