<div class="ads">
  <div class="header">
    <img src="\assets\images\blue-tile-7b989956e19ea472daa8ceaabcd48c5827858f95f20ea0d3037a0eed333df19f.png" alt="">
    <!-- <h1>What's New</h1> -->
  </div>
  <div class="ad">
    <h2>Amazon Bounty Program</h2>
    <p>It’s easy. Refer and earn fixed advertising fees when visitors try and/or sign-up for valuable services and programs.</p>
    <button type="button">Get Sarted</button>
  </div>

  <div class="ad ad1">
    <div>
      <h2>Amazon Bounty Program</h2>
      <p>It’s easy. Refer and earn fixed advertising fees when visitors try and/or sign-up for valuable services and programs.</p>
    </div>
    <!-- <img src="\assets\images\BountyProgramBanner125x104._V349198411_.png" alt="Bounty Ad" class="bounty"> -->
  </div>
</div>