.ads {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  float: right;
  height: 620px;
  margin: 0;
  padding: 15px 0  0 15px;
  width: 25%;

  .header {
    // background-image: url("\assets\images\blue-tile-7b989956e19ea472daa8ceaabcd48c5827858f95f20ea0d3037a0eed333df19f.png") repeat 0 0;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    width: 100%;

    img {
    background-repeat: repeat 0 0;
    height: 50px;
    position: relative;
    width: 100%;

    }
  }

  .ad {
    border-radius: 2px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 0 15px 15px;


    h2 {
      color: #FF9900;
      display: inline-block;
      font-size: 1.3rem;
      font-weight: normal;
      line-height: 1.3;
      padding-bottom: 4px;
    }

    p {
      font-size: 1rem;
      margin: 0 0 14px 0;
      overflow-wrap: break-word;
    }

    button {
      background: linear-gradient(to bottom, #f7dfa5, #f0c14b) !important;
      border-color: #a88734 #9c7e31 #846a29 !important;
      border-radius: 3px;
      border: 1px solid;    
      color: #333;
      cursor: pointer;
      min-height: 29px;
      padding: 10px 15px;
    }

    .bounty {
      float: right;
      height: 114px;
      max-width: 100%;
      padding: 5px 0 5px 10px;
      vertical-align: top;
      width: 135px;
    }
  }
}