.informations {
  box-sizing: border-box;
  display: flex;
  float: left;
  height: 500px;
  margin: 0;
  width: 75%;

  .description {
    box-sizing: border-box;
    line-height: 19px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    text-indent: -1em;
    width: 33%;
    word-wrap: break-word;

    img {
      padding-top: 15px;
      height: 48px;
      width: 50px;
      vertical-align: top;
      border: 1px solid #fff;
      max-width: 100%;
    }

    h2 {
      color: #FF9900;
      font-size: 1.8rem;
      padding: 15px 0;
    }

    p {
      box-sizing: border-box;
      color: #111;
      font-size: 1.1rem;

    }

    a {
      background-color: transparent;
      color: #0066c0;
      cursor: pointer;
      font-size: 1.1rem;
      text-decoration: none;
    }

    a:hover {
      color: #C45500;
      cursor: pointer;
      text-decoration: underline;

    }

  }
}