<div class="informations">

  <div class="description">
    <img src="\assets\images\welcome-step-join._V272244785_.png" alt="Join">
    <h2>Join</h2>
    <p class="first">It's easy and free to join</p>
    <p class="second">Get up and running today. Just one approval to join — no third-party advertiser approvals.</p>
    <a href="#">Learn More »</a> <br>
    <a href="#">Join Now »</a>
  </div>

  <div class="description">
    <img src="\assets\images\welcome-step-earn._V272244785_.png" alt="Advertise  ">
    <h2>Advertise</h2>
    <p class="first">Choose from over a million products to advertise to your customers</p>
    <p class="second">Whether you are a large network, content site or blogger, we have simple linking tools to meet your advertising needs and help you monetize your web site.</p>
    <a href="#">Linking Toolse »</a>

  </div>

  <div class="description">
      <img src="\assets\images\welcome-step-earn._V272244785_.png" alt="Earn">
      <h2>Earn</h2>
      <p class="first">Get up to 10% in advertising fees</p>
      <p class="second">Earn advertising fees from Qualifying Purchases, not just the products you advertised.</p>
      <p class="second">Plus, our competitive conversion rates help you maximize your earnings.</p>
      <a href="#">Advertising Fees »</a> <br>
      <a href="#">Reporting Tools »</a>


  </div>

</div>