.header {
  align-items: center;
  border-bottom: 2px solid #000000;
  box-sizing :border-box;
  display: flex;
  height: 50px;
  justify-content: space-between;

  .logo {
    height: 30px;
    width: 175px;
  }

  .navigation {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    width: 275px;

    .login {
      background-color: #f0c14b;
      border-radius: 5px;
      border: 1px solid #a88734;
      font-size: 13px;
      height: 30px;
      line-height: 29px;
      padding: 0 10px 0 11px;
      width: 60px;
    } 
    .country {
      align-items: center;
      display: flex;
      height: 30px;
      
      p {
        font-size: 11px;
      }

      .menu {
        border: none;
        font-size: 11px;
        font-weight: 700;
        padding: 5px 0px 5px  0px;
      }    
    }
  }
}


