<div class="header">
  <img class="logo" src="assets/images/amazon-associates.png" alt="Amazon Logo">
  <div class="navigation">
    <button type="button" class="login">Login</button> 
    <div class="country">
      <p>Locale:</p> 
      <select class="menu">
        <option value="states" selected>United States</option>
        <option value="kingdom">United Kingdom</option>
        <option value="france">France</option>
        <option value="japan">Japan</option>
      </select>
    </div>
    
    
  </div>
  
</div>