/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Times New Roman', Times, serif; 
  margin: 0 auto;
  max-width: 1100px;
  min-width: 980px;
  padding: 0 15px;
  width: 100%;
}