<div class="slider">
  <img class="mySlides" src="\assets\images\mont_various_fpo.jpg" alt="Amazon products">
  <!-- <img class="mySlides" src="\assets\images\Eco-Fire-TV-Devices-2X._V510055193_.jpg">
  <img class="mySlides" src="\assets\images\Fashion-Shoes-Jewelry-2X._V510055193_.jpg"> -->
</div>